/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.6rem;
}

header{
    display: flex;
    background:white;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px 0 20px 0;
}

header img{ 
    align-self: flex-start;
    margin-top: 10px;
}

header nav a{
    text-decoration:none;
    color: black;
}
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box1 {
    width: 12.5%;
    height: 100px;
    background:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box2 {
    width: 12.5%;
    height: 100px;
    background:green;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box3 {
    width: 12.5%;
    height: 100px;
    background:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box4 {
    width: 12.5%;
    height: 100px;
    background:purple;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box5 {
    width: 12.5%;
    height: 100px;
    background:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box6 {
    width: 12.5%;
    height: 100px;
    background:palevioletred;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box7 {
    width: 12.5%;
    height: 100px;
    background:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box8 {
    width: 12.5%;
    height: 100px;
    background:darkmagenta;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box9 {
    width: 12.5%;
    height: 100px;
    background:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box10 {
    width: 12.5%;
    height: 100px;
    background:lawngreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media(max-width:768px){
    .container {
        max-width: 100%;
    }
    
    header nav {
        width: 100%;
        margin-top: 88px;
        margin-left: -448px;
        margin-right: 20px;
        justify-content: space-around;
    }

    header img {
        display: block;
        margin: 24px 0 0 299px;   
    
    }

    .middle-content .boxes .box1 {
        background:teal;
    }
    
    .middle-content .boxes .box3 {
        background:gold;
    }
    
    .middle-content .boxes .box5 {
        background:turquoise;
    }

    .middle-content .boxes .box6 {
        background: hotpink;
    }

    .middle-content .boxes .box7 {
        background: orange;
    }

    .middle-content .boxes .box9 {
        background:red;
    }
}

@media (max-width:400px){
    .container{
        width: 100%;
    }

    header{
        border: 2px solid red;
        flex-wrap: wrap;
        justify-content: center;
    }


    header nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 0;
        font-size: 1.6rem;
        border-bottom: 1px solid gray;
        margin-top: 7px;
        margin-left: 13px;
        margin-right: 16px;
        justify-content: space-around;
    }

    margin-top: 7px;
    margin-left: 13px;
    margin-right: 16px;
    justify-content: space

    /* header nav{
        width: 100%;
        margin:10px;
    }

    header nav {
        display: block;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
        border-bottom: 1px solid gray;
        border: 2px solid red;
    } */

    header nav:first-child{
        border-top: 10px solid gray;
    }

    header nav:hover{
        background: lightslategrey;
    }

    header img{
        max-width: 100%;
        margin: 20px 0; 
        width: 125px;

    }

}