/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: none;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 1.125rems;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    
    max-width: 1000px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}
nav {
    width: 800px;
    display: flex;
    padding-top: 0.2rem;
}
nav a {
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 2%;
    font-size: 1rem;
}
a {
    text-decoration: none;
    flex-direction: row;
    color: black
}
.jumbo {
    width: 95%;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box1, .box3, .box5, .box7, .box9 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%; 
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
     width: 12.5%;
     height: 100px;
     margin: 20px 2.5%; 
     background: forestgreen;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .box4 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%; 
    background: darkorchid;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box6 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%; 
    background: hotpink;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box8 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%; 
    background: indigo;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box10 {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%; 
    background: lawngreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.tabletLambda {
    display: none;
}
footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 1rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

    @media (max-width: 800px) and (min-width: 401px) {
        
        .lambda {
            display: none;
        }
        .top-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
        }

        .tabletLambda{
            display: flex;
            align-items: center;
        }

        nav {
            width: 95%;
            display: flex;
            padding-top: 0.2rem;
            flex-direction: row;
            justify-content: center;
        }
        
        .box1 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: teal;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .box3 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: gold;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box5 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: cadetblue;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box7 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: coral;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box9 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: crimson;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .jumbo {
            width: 110%;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 1.2rem;
        }
    }
     
    @media(max-width: 400px) and (min-width: 0px){
        .lambda {
            display: none;
        }
        .top-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
        }

        .tabletLambda{
            display: flex;
            align-items: center;
        }

        nav {
            width: 100%;
            display: flex;
            padding-top: 0.2rem;
            flex-direction: column;
            justify-content: center;
        }
        a {
            width: 100%;
            text-decoration: none;
            flex-direction: row;
            color: black;
            border-bottom: 0.0625rem solid darkgrey;
            justify-content: center;
        }
        .jumbo {
            width: 120%;
            height: 52%;
        }
       
        .box10 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: lawngreen;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: hidden
        }
        .middle-content .boxes {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: spc;
        }
        .box1 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: teal;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .box3 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: gold;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box5 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: cadetblue;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box7 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: coral;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box9 {
            width: 12.5%;
            height: 100px;
            margin: 20px 2.5%; 
            background: crimson;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .boxes {
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
        }
        .bottom-content {
            display: flex;
            margin: 0 2% 20px;
            justify-content: space-between;
            flex-flow: column;
        }
        
        .footerNav {
            width: 100%;
            font-size: 1rem;
            flex-direction: row;
        }
        .footerNav .footera{
            width: 100%;
            color: white;
            text-decoration: none;
            border: black;
        }
        .footera {
            display: flex;
            flex-direction: row;
            text-align-last: center;
        }   
    }   