/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Header Style */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 3.25% 0; /* 26px / container max-width */
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header nav a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 35px 0 0 0;
    }
    header nav a {
        padding: 30px 0;
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 35px 0 0 0;
    }
    header nav {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    header nav a {
        width: 100%;
        padding: 15px 0;
        font-size: 0.9rem;
        border-top: 1px solid grey;
        text-align: center;
    }
    header nav a:last-child {
        border-bottom: 1px solid grey;
    }
}

/* Jumbotron Style */
.jumbotron {
    margin: 0.5% 0 2.4%; /* 4px / container max-width */ /* 19px / container max-width */
}

.jumbotron img {
    width: 100%;
}

@media (max-width: 1000px) {
    .jumbotron {
        margin: 5px 0 20px;
    }
}

@media (max-width: 400px) {
    .jumbotron {
        margin-top: 0;
    }
}

/* Main Content Style*/

.main-content .top-content .text-container h2,
 .main-content .bottom-content .text-container h2,
 .main-content .middle-content h2 {
    font-size: 1.1rem;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2.5%; /* 20px / container max-width */
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 2.5%; /* 20px / container max-width */ 
}

.middle-content {
    margin-bottom: 2.5%; /* 20px / container max-width */
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 2.5% 2.5%; /* 20px / container max-width */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 2.5%; /* 20px / container max-width */
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

@media (max-width: 400px) {
    .main-content .top-content, .main-content .bottom-content {
        padding: 0 10px;
    }
    .top-content, .middle-content, .bottom-content {
        flex-direction: column;
    }
    .main-content .text-container {
        width: 100%;
        padding-bottom: 5%;
    }
    .main-content .middle-content h2 {
        margin-bottom: 15px;
    }
    .main-content .middle-content .boxes .box {
        width: 25%;
        margin: 4.8% 3.2%;
    }
    .main-content .middle-content .boxes .box:last-child {
        display: none;
    }
}

/* Footer Style */

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 2%; /* 20px / container max-width */
    font-size: 0.9rem;
    font-weight: bold;
}

footer nav a {
    color: white;
    text-decoration: none;
}