/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-size: 1.8rem;
}

p {
    line-height: 1.5;
    font-size: 1.5rem;
}

.container {
    max-width: 800px;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    margin: 2.5% 12.5% 5%;
    width: 100%;
}

header nav {
    justify-content: space-around;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

header nav a {
    font-size: 1.4rem;
    margin: 0% 6.8% 0%;
    width: 100%;
}

.jumbotron {
    max-width: 100%;
    height: auto;
    margin: 0 12.5% 0;
}

.top-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    width: 100%;
    margin: 2.5% 12.5%;
}

.top-content .text-container {
    width: 68%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    width: 100%;
    margin: 0% 12.5% 2.5%;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box2 {
    background: forestgreen;
}

.middle-content .boxes .box4 {
    background: darkorchid;
}

.middle-content .boxes .box6 {
    background: hotpink;
}

.middle-content .boxes .box8 {
    background: indigo;
}

.middle-content .boxes .box10 {
    background: lawngreen;
}

.bottom-content {
    display: flex;
    width: 100%;
    margin: 0 12.5% 3.5%;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.end-content {
    display: flex;
    margin: 0 12.5% 3.5%;
    justify-content: space-around;
    width: 100%;
}

footer {
    width: 100%;
    margin: 0 12.5% 0;
    background: black;
}

footer nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
}

footer nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

@media (max-width: 768px) {

.container {
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    margin: 3.5% 0% 2.7%;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
}

header nav {
    display: flex;
    width: 100%;
    margin: 3% 0% 0%;
    justify-content: space-around;
    align-items: flex-end;
}

header nav a {
    font-size: 1.4rem;
    width: 100%;
}

.jumbotron {
    margin: 2% 0 0;
}

.top-content {
    margin: 2.7% 0.5%;
}

p {
    line-height: 1.35;
    font-size: 1.65rem;
}

.middle-content {
    width: 100%;
    margin: 0 0 2.5%;
}

.middle-content .boxes .box {
    width: 12.5%;
    min-width: 100px;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.middle-content .boxes .box2 {
    background: forestgreen;
}

.middle-content .boxes .box4 {
    background: darkorchid;
}

.middle-content .boxes .box6 {
    background: hotpink;
}

.middle-content .boxes .box8 {
    background: indigo;
}

.middle-content .boxes .box10 {
    background: lawngreen;
}

.middle-content .boxes .box1 {
    background: teal;
}

.middle-content .boxes .box3 {
    background: gold;
}

.middle-content .boxes .box5 {
    background: cadetblue;
}

.middle-content .boxes .box7 {
    background: coral;
}

.middle-content .boxes .box9 {
    background: crimson;
}

.bottom-content {
    width: 100%;
    margin: 0 0 2.5%;
}

.end-content {
    margin: 0 0 2.5%;
    width: 100%;
}

footer {
    width: 100%;
    margin: auto;
    background: black;
}

}

@media (max-width: 400px) {

    .container {
        width: 100%;
    }
    
    header {
        display: flex;
        justify-content: center;
        margin: 3.5% 0% 2.7%;
        width: 100%;
        align-content: center;
        flex-wrap: wrap;
    }
    
    header nav {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
    }
    
    header nav a {
        font-size: 1.4rem;
        width: 100%;
    }
    
    .jumbotron {
        margin: 2% 0 0;
    }
    
    .top-content {
        margin: 2.7% 0.5%;
    }
    
    p {
        line-height: 1.35;
        font-size: 1.65rem;
    }
    
    .middle-content {
        width: 100%;
        margin: 0 0 2.5%;
    }

    .middle-content .boxes {
        flex-wrap: wrap-reverse;
    }
    
    .middle-content .boxes .box {
        width: 12.5%;
        min-width: 100px;
        height: 100px;
        background: black;
        margin: 20px 2.5%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }
    
    .middle-content .boxes .box2 {
        background: forestgreen;
    }
    
    .middle-content .boxes .box4 {
        background: darkorchid;
    }
    
    .middle-content .boxes .box6 {
        background: hotpink;
    }
    
    .middle-content .boxes .box8 {
        background: indigo;
    }
    
    .middle-content .boxes .box10 {
        display: none;
    }
    
    .middle-content .boxes .box1 {
        background: teal;
    }
    
    .middle-content .boxes .box3 {
        background: gold;
    }
    
    .middle-content .boxes .box5 {
        background: cadetblue;
    }
    
    .middle-content .boxes .box7 {
        background: coral;
    }
    
    .middle-content .boxes .box9 {
        background: crimson;
    }
    
    .bottom-content {
        width: 100%;
        margin: 0 0 2.5%;
    }
    
    .end-content {
        margin: 0 0 2.5%;
        width: 100%;
    }
    
    footer {
        width: 100%;
        margin: auto;
        background: black;
    }
    
    }