/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    max-width: 800px;
    width:100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
}

header nav {
    width: 100%;
    margin-top:15px;
    justify-content: space-around;
    display: flex;
    align-items: baseline;
    flex-wrap:wrap;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

header .logo {
    justify-content: flex-end; 
      
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
    font-size:1.6rem;
    font-weight: 400;
    margin-top: 20px;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.6rem;
}

.middle-content .boxes .box1 {
    width: 100px; /* did not change width of boxes to percentage b/c I want to keep their size intact*/
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box2 {
    width: 100px; /* did not change width of boxes to percentage b/c I want to keep their size intact*/
    height: 100px;
    background: forestgreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box3 {
    width: 100px; /* did not change width of boxes to percentage b/c I want to keep their size intact*/
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box4 {
    width: 100px; /* did not change width of boxes to percentage b/c I want to keep their size intact*/
    height: 100px;
    background: darkorchid;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box5 {
    width: 100px; /* did not change width of boxes to percentage b/c I want to keep their size intact*/
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box6 {
    width: 100px; /* did not change width of boxes to percentage b/c I want to keep their size intact*/
    height: 100px;
    background: hotpink;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box7 {
    width: 100px; /* did not change width of boxes to percentage b/c I want to keep their size intact*/
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box8 {
    width: 100px; /* did not change width of boxes to percentage b/c I want to keep their size intact*/
    height: 100px;
    background: indigo;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box9 {
    width: 100px; /* did not change width of boxes to percentage b/c I want to keep their size intact*/
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content .boxes .box10 {
    width: 100px; /* did not change width of boxes to percentage b/c I want to keep their size intact*/
    height: 100px;
    background: lawngreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
    font-size: 1.6rem;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 1.4rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media (max-width:768px){

    header {
        flex-direction: column;
        margin-top:20px;
    }

    
    header .logo {
        justify-content: flex-end;
        display:block;  
    }



    .middle-content .boxes .box1 {
        background: teal;
    }

    .middle-content .boxes .box3 {

        background: gold;

    }
    .middle-content .boxes .box5 {

        background: cadetblue;

    }
    .middle-content .boxes .box7 {

        background: coral;

    }
    .middle-content .boxes .box9 {
        background: crimson;

    }
}

@media (max-width:400px) {
    .container {
        width: 100%;
    }

    header {
        justify-content: center;
        height: 300px;
    }
    
    header nav {
        flex-direction: column;
        align-items: center;
        height: 300px;
        width:100%;
    }

    header nav a {
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        text-align: center;
        border-bottom: 1px solid gray; 
        display: block;
        width:100%;
        padding: 16px 0;
    }

       header nav a:first-child {
        border-top: 1px solid gray;
    }
    header nav a:last-child {
        border-bottom: none;
    }
    
    .top-content {
        display:flex;
        flex-direction: column;
    }    

    .top-content .top-image {
        display: block;
        width:100%;
        height:70px;
    }

    .top-content .text-container {
        width:100%;
        margin-left: 2%;
    }

    .middle-content {
        display:flex;
        flex-wrap: wrap;

    }
    .middle-content .boxes {
        flex-wrap: wrap;
        flex-direction: row-reverse;
        height: 400px;
        margin-bottom: 15px;
    }

    .middle-content .boxes .box10 {
        display: none;
    }

    .bottom-content {
        flex-direction: column;
    }

    .bottom-content .text-container {
        padding: 10px 0;
        
    }
}