/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
    font-size: 1.6rem;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 2rem 1%;
    padding-bottom: 20px;  
}

.top-content .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 4rem;
}

.navbar img {
    align-self: baseline;
}

.top-content .navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding-right: 4.4rem;
}

.middle-content {
    margin-bottom: 2rem;
    padding-bottom: .3rem;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 2rem;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 10rem;
    background: black;
    margin: 2rem 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.bottom-content {
    display: flex;
    margin: 0 2% 4.2rem;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2%;
    font-size: 1.5rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .middle-content .boxes .box2 {
        background: forestgreen;
    }

    .middle-content .boxes .box4 {
        background: darkorchid;
    }

    .middle-content .boxes .box6 {
        background: hotpink;
    }

    .middle-content .boxes .box8 {
        background: indigo;
    }

    .middle-content .boxes .box10 {
        background: lawngreen;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    .top-content .navbar {
        display: flex;
        justify-content: space-evenly;
        padding-top: 2em;
    }

    .navbar img {
        display: none;

    }

    .middle-content .boxes .box1 {
        background: teal;
    }

    .middle-content .boxes .box3 {
        background: gold;
    }

    .middle-content .boxes .box5 {
        background: cadetblue;
    }

    .middle-content .boxes .box7 {
        background: coral;
    }

    .middle-content .boxes .box9 {
        background: crimson;
    }
}

@media (max-width: 400px) {
    .middle-content .boxes {
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
    }

    .middle-content .boxes .box10 {
        display: none;
    }
}