/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%; /* changed font-size */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 1.4rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/************
** BRANDON **
************/
/************
** GENERAL **
************/
h2 {
  font-size: 1.1rem;
}

.container {
  padding-top: 1.3rem;
  max-width: 800px;
  width: 100%;
}

/***********
** HEADER **
***********/
.container header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.2rem;
}

.header__nav {
  width: 100%;
}

.nav__nav-links-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.nav-links-container__links a {
  color: #000;
  font-size: 0.9rem;
  text-decoration: none;
}

/****************
** TOP CONTENT **
****************/
.top-content__image {
  margin-bottom: 1.7rem;
}

/*.top-content .text-container > h2 {
  font-size: 1.1rem;
}*/

/*******************
** MIDDLE CONTENT **
*******************/
.middle-content .boxes .box:nth-child(2) {
  background: forestgreen;
}

.middle-content .boxes .box:nth-child(4) {
  background: darkorchid;
}

.middle-content .boxes .box:nth-child(6) {
  background: hotpink;
}

.middle-content .boxes .box:nth-child(8) {
  background: indigo;
}

.middle-content .boxes .box:last-child {
  background: lawngreen;
}

/***********
** FOOTER **
***********/
footer nav a {
  font-size: 0.9rem;
}

/******************
** MEDIA QUERIES **
******************/
/**********
** 768px **
**********/
@media(max-width: 768px) {
  /***********
  ** HEADER **
  ***********/
  header {
    flex-direction: column;
    align-items: center;
  }
  
  header img {
    margin-bottom: 1.7rem;
    width: 157px;
  }
  
  /*******************
  ** MIDDLE CONTENT **
  *******************/
  .middle-content .boxes .box:nth-child(2) {
    background: teal;
  }

  .middle-content .boxes .box:nth-child(4) {
    background: gold;
  }

  .middle-content .boxes .box:nth-child(6) {
    background: cadetblue;
  }

  .middle-content .boxes .box:nth-child(8) {
    background: coral;
  }

  .middle-content .boxes .box:last-child {
    background: crimson;
  }
}

/**********
** 400px **
**********/
@media(max-width: 400px) {
  .container {
    padding-top: 1.9rem;
  }
  
  /***********
  ** HEADER **
  ***********/
  .container header {
    margin-bottom: 0;
  }
  
  .nav__nav-links-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .nav-links-container__links {
    border-top: 1px solid #000;
    padding: 0.9rem 0;
    width: 100%;
  }
  
  /****************
  ** TOP CONTENT **
  ****************/
  .top-content img {
    height: 4.6rem;
  }
  
  .top-content .text-container {
    width: 89%;
  }
  
  /*******************
  ** MIDDLE CONTENT **
  *******************/
  .middle-content .boxes {
    flex-direction: row-reverse;
  }
  
  .middle-content .boxes .box {
    width: 25%;
  }
  
  .middle-content .boxes .box:first-child {
    background: #087F7F;
  }
  
  .middle-content .boxes .box:nth-child(2) {
    background: #268A2F;
  }
  
  .middle-content .boxes .box:nth-child(3) {
    background: #FFD739;
  }

  .middle-content .boxes .box:nth-child(4) {
    background: #9834C8;
  }
  
  .middle-content .boxes .box:nth-child(5) {
    background: #609E9F;
  }

  .middle-content .boxes .box:nth-child(6) {
    background: #FE6AB2;
  }
  
  .middle-content .boxes .box:nth-child(7) {
    background: #FE8056;
  }

  .middle-content .boxes .box:nth-child(8) {
    background: #4A027E;
  }
  
  .middle-content .boxes .box:nth-child(9) {
    background: #DB1A3F;
  }
  
  .middle-content .boxes .box:last-child {
    display: none;
  }
  
  /*******************
  ** BOTTOM CONTENT **
  *******************/
  .bottom-content {
    flex-direction: column;
  }
  
  .bottom-content .text-container {
    margin-bottom: 1.5rem;
  }
  
  /***********
  ** FOOTER **
  ***********/
  footer nav {
    justify-content: space-evenly;
    padding: 2rem 0;
    width: 100%;
  }
}
