/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

html {
    font-size: 62.5%;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    font-size: 1.6rem;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 45px; 
    width: 70%;
    font-size: 1.6rem;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: black;
}

header .logo {
    align-self: flex-start;
    margin-top: 20px;
    margin-right: 6.25%;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.main-content .jumbo {
    display: block;
    margin: 30px auto;
}

.top-content .text-container {
    margin-top: 0px;
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box2 {
    background-color: forestgreen;
}

.middle-content .boxes .box4 {
    background-color: darkorchid;
}

.middle-content .boxes .box6 {
    background-color: hotpink;
}

.middle-content .boxes .box8 {
    background-color: indigo;
}

.middle-content .boxes .box10 {
    background-color: lawngreen;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 1.4rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    header {
        flex-flow: wrap;
        justify-content: center;
    }

    header nav {
        width: 85%;
        margin-top: 30px;
        font-size: 1.5rem;
    }

    header .logo {
        display: block;
        margin-right: 0px;  
    }

    .main-content .jumbo {
        width: 100%;
    }

    .top-content .text-container {
        margin-top: 0px;
    }

    .middle-content .boxes .box {
        width: 13.61%;
    }

    .middle-content .boxes .box1 {
        background-color: teal;
    }

    .middle-content .boxes .box3 {
        background-color: gold;
    }

    .middle-content .boxes .box5 {
        background-color: cadetblue;
    }

    .middle-content .boxes .box7 {
        background-color: coral;
    }

    .middle-content .boxes .box9 {
        background-color: crimson;
    }
}

@media (max-width: 400px) {
    .container {
        width: 100%;
    }

    header nav {
        flex-direction: column;
        align-items: center;
    }

    header nav a {
        display: block;
        width: 117%;
        text-align: center;
        padding: 15px 0;
        border-top: 1px solid gray;
    }

    .main-content .jumbo {
        width: 100%;
        display: block;
        margin-top: 0px;
    }

    .top-content .text-container {
        margin: -10px 5% 0px 5%;
        flex-flow: wrap;
        width: auto;
    }

    .middle-content .boxes {
        flex-direction: row-reverse;
    }

    .middle-content .boxes .box {
        width: 26.74%;
        display: flex;
        flex-direction: column-reverse;
    }

    .middle-content .boxes .box10 {
        display: none;
    }

    .bottom-content {
        flex-flow: wrap;
    }

    .bottom-content .text-container {
        margin: 0px 5% 20px 3%;
    }

    footer nav {
        justify-content: space-around;
        margin: 0px 20px;     
        width: auto;
    }
}