/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    /*font-size: 62.5%;*/
    /*font-size: 0.875rem === font-size: 14px;*/
    /*font-size: 1rem === font-size: 16px;*/
}

h1, h2, h3, h4, h5 {
    font-size: 1.125rem;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: flex-end;
    margin: 2.63% auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header nav a {
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 100%;
}

.jumbo {
    width: 100%;
    margin: 2.13% auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1% auto;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.top-content .text-container p {
    font-size: 1rem;
}

.top-content .text-container h2 {
    margin-bottom: 10px;
}

.middle-content {
    margin: 20px auto;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.middle-content .boxes .box:hover {
    font-weight: bold;
}

.middle-content .boxes .box2 {
    background-color: forestgreen;
}

.middle-content .boxes .box2:hover {
    border: 2px solid forestgreen;
    background-color: lightgrey;
    color: forestgreen;
}

.middle-content .boxes .box4 {
    background-color: darkorchid;
}

.middle-content .boxes .box4:hover {
    border: 2px solid darkorchid;
    background-color: lightgrey;
    color: darkorchid;
}

.middle-content .boxes .box6 {
    background-color: hotpink;
}

.middle-content .boxes .box6:hover {
    border: 2px solid hotpink;
    background-color: lightgrey;
    color: hotpink;
}

.middle-content .boxes .box8 {
    background-color: indigo;
}

.middle-content .boxes .box8:hover {
    border: 2px solid indigo;
    background-color: lightgrey;
    color: indigo;
}

.middle-content .boxes .box10 {
    background-color: lawngreen;
}

.middle-content .boxes .box10:hover {
    border: 2px solid lawngreen;
    background-color: lightgrey;
    color: lawngreen;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.bottom-content .text-container p {
    font-size: 1rem;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

footer nav a {
    color: white;
    text-decoration: none;
    padding: 4.17%;
    width: 100%;
    text-align: center;
}

footer nav a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*********************************************************/
/**********************tablet*****************************/
/*********************************************************/

@media (max-width: 768px) {

    header {
        flex-flow: column;
        align-items: center;
        margin-bottom: 2%;
    }

    header .logo {
        margin-bottom: 4%;
    }

    header nav {
        justify-content: space-between;
    }

    header nav a {
        font-size: 0.875rem;
    }

    .jumbo {
        width: 100%;
        height: 150px;
    }

    .middle-content .boxes .box1 {
        background-color: teal;
    }

    .middle-content .boxes .box1:hover {
        border: 2px solid teal;
        background-color: lightgrey;
        color: teal;
    }

    .middle-content .boxes .box3 {
        background-color: gold;
    }

    .middle-content .boxes .box3:hover {
        border: 2px solid gold;
        background-color: lightgrey;
        color: gold;
    }

    .middle-content .boxes .box5 {
        background-color: cadetblue;
    }

    .middle-content .boxes .box5:hover {
        border: 2px solid cadetblue;
        background-color: lightgrey;
        color: cadetblue;
    }

    .middle-content .boxes .box7 {
        background-color: coral;
    }

    .middle-content .boxes .box7:hover {
        border: 2px solid coral;
        background-color: lightgrey;
        color: coral;
    }

    .middle-content .boxes .box9 {
        background-color: crimson;
    }

    .middle-content .boxes .box9:hover {
        border: 2px solid crimson;
        background-color: lightgrey;
        color: crimson;
    }

}

/*********************************************************/
/**********************mobile*****************************/
/*********************************************************/

@media (max-width: 400px) {

    header {
        margin: 0 auto;
    }

    header nav {
        flex-flow: column;
        width: 100%;
        height: 225px;
        justify-content: space-around;
        border-top: 1px solid black;
    }

    header .logo {
        margin: 7.5% auto;
    }

    header nav a {
        border-bottom: 1px solid black;
        padding: 16px;
    }

    header nav a:hover {
        background-color: black;
        color: white;
    }

    .jumbo {
        margin-top: 0;
        height: 80px;
    }

    .top-content {
        margin: 4%;
        flex-flow: column;
    }

    .top-content .text-container {
        width: 100%;
    }

    .middle-content .boxes {
        flex-flow: row-reverse wrap;
    }

    .middle-content .boxes .box {
        width: 100px;
    }

    .middle-content .boxes .box10 {
        display: none;
    }

    .bottom-content {
        flex-flow: column;
        margin-bottom: 10px;
    }

    .bottom-content .text-container:nth-child(2) {
        margin: 25px auto;
    }

    .bottom-content .text-container:last-child {
        margin-top: -5px;
    }

    footer {
        margin-top: 23px;
    }

    footer nav {
        width: 100%;
        justify-content: space-evenly;
    }

}