@media (max-width: 1000px) {
    .middle-content .boxes .box2 {
        background-color: forestgreen;
    }
    .middle-content .boxes .box4 {
        background-color: darkorchid;
    }
    .middle-content .boxes .box6 {
        background-color: hotpink;
    }
    .middle-content .boxes .box8 {
        background-color: indigo;
    }
    .middle-content .boxes .box10 {
        background-color: lawngreen;
    }
}

@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    header nav {
        margin: 30px 0;
    }
    
    .boxes {
        display: flex;
        flex-wrap: wrap;
    }


    .middle-content .boxes .box1 {
        background-color: teal;
    }
    .middle-content .boxes .box3 {
        background-color: gold;
    }
    .middle-content .boxes .box5 {
        background-color: cadetblue;
    }
    .middle-content .boxes .box7 {
        background-color: coral;
    }
    .middle-content .boxes .box7 {
        background-color: crimson;
    }

}

@media (max-width: 400px) {
 header nav {
     flex-direction: column;
     align-items: center;

 }

 header nav a {
     font-size: 1.8rem;
     margin: 10px 0;
     display: block;
     width: 100%;
     text-align: center;
     border-top: 1px solid grey;
 }

    .middle-content .boxes   {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .middle-content .boxes .box10 {
        display: none;
    }
}

